@charset "UTF-8";

/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0 auto;
  border-bottom: 1px solid #ffffff;

  li {
    margin-left: 40px;
    a {
      display: block;
      background: #ffffff;
      color: #4b4b4b;
      margin: 0 2px;
      padding: 10px 20px;
    }
  }

  /*liにactiveクラスがついた時の形状*/
  li.active a {
    background: #4b4b4b;
    color: #ffffff;
  }
}

/*エリアの表示非表示と形状*/
.area {
  display: none; /*はじめは非表示*/
  opacity: 0; /*透過0*/
  background: #71c8fd;
  // padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block; /*表示*/
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#subject.is-active {
  display: grid; /*表示*/
  grid-template-columns: 100px auto 1fr;
  width: 340px;
  grid-gap: 20px;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*========= レイアウトのためのCSS ===============*/

body {
  background: #71c8fd;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  // margin: 0 auto;
  background: #71c8fd;

  .back {
    img {
      width: 60px;
      margin-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  #subject {
    margin: 0 auto;
    margin-top: 50px;
    div {
      // border-bottom: 3px solid white;
      margin-bottom: 14px;
      // margin: 0;
      width: 100px;
      height: auto;
      padding-bottom: 10px;
    }
  }

  #friendmap {
    .friends {
      width: 80%;
      margin: 0 auto;
      display: flex;
      position: relative;
      border-bottom: solid 2px #fff;
      .icon {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .name {
        position: absolute;
        top: 20%;
        left: 50%;
        // margin-right: 80px;
      }
      .share {
        background-color: #52b752;
        position: absolute;
        top: 60%;
        left: 65%;
        width: 100px;
        text-align: center;
        border-radius: 70px;
        a {
          width: 100%;
          display: inline-block;
          padding: 10px 0;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
