html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {


    margin: 0 auto;

    canvas {
        display: none;
       
    }

    



    // cameraの画面サイズ ここから
    .video_wrapper {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .video_wrapper>video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
    }

    // cameraの画面サイズ ここまで


    #pageback{
          // 戻るbuttonの装飾
          img{
            width: 80px;
            height: 80px;
          }
          background-color: black;
          padding: 8px;
          border-radius: 8px;
          
      
  
          //戻るbuttonの位置
          position: absolute;
          top:2%;
          right: 5%;
    }


    #shutter {
        // 撮影buttonの装飾
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50px;
        border: solid black 10px;

        //撮影buttonの位置
        position: absolute;
        bottom: 5%;
        left: 47%;
    }

    #return {
        // 再撮影buttonの装飾
        
        font-size: 60px;
        color: white;
        border: solid 1px red;
        background-color: red;
        border-radius: 20px;
        padding: 15px;

        //再撮影buttonの位置
        position: absolute;
        bottom: 5%;
        left: 10%;
    }

    #send {
        // 検証
        
        font-size: 60px;
        color: white;
        border: solid 1px blue;
        background-color: blue;
        border-radius: 20px;
        padding: 15px;

        //検証buttonの位置
        position: absolute;
        bottom: 5%;
        left: 67%;
    }

}