html {
    background: #71c8fd;
    section:nth-of-type(1) {
        div {
            img {
                width: 60px;
                margin-left: 1rem;
                margin-top: 1rem;
            }
        }
    }
    section:nth-of-type(2) {
        h1 {
            font-size: 2.5rem;
            text-align: center;
            margin-top: 2.5rem;
            color: #fff;
            margin-bottom: -2rem;
        }
    }
    section:nth-of-type(3) {
        .circle {
            position: relative;
            top: 5rem;
            left: 17rem;
            max-width: 70px; /* 円のサイズ（高さにもなる） */
            border-radius: 100%;
            padding: 16px;
            background: #52961d;
            z-index: 10;
            /* 以下のFlexboxで文字を中央寄せ */
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            p {
                font-size: 2rem;
                color: #fff;
            }
        }

        .circle::before {
            /* 擬似要素で正円を作る */
            display: block;
            content: "";
            // padding-top: 100%;
        }
    }
    .main{
        form {
            div.typein {
                margin-bottom: 2.5rem;
            }
            div.name {
                p {
                    background: #fff;
                    width: 70%;
                    padding: 1rem;
                    border-radius: 30px;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    img {
                        width: 20px;
                    }
                }
            }
            p.button {
                background: #52b752;
                width: 60%;
                padding: 1rem;
                border-radius: 30px;
                text-align: center;
                margin: 0 auto;
                color: #fff;
                margin-bottom: 2.5rem;
            }
            div.mail {
                p {
                    background: #fff;
                    width: 70%;
                    padding: 1rem;
                    border-radius: 30px;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    img {
                        width: 20px;
                    }
                }
            }
            div.pass {
                p {
                    background: #fff;
                    width: 70%;
                    padding: 1rem;
                    border-radius: 30px;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    img {
                        width: 20px;
                    }
                }
            }

        }
    }
}

// プロフィール画面設定
.filelabel {
    background-color:#fff;  /* 背景色 */
    color: white;              /* 文字色 */
    border-radius: 100%;        /* 角丸 */
    padding-top:12px;         /* 内側の余白 */
    display: inline-block;     /* インラインブロック化 */
    margin-bottom: 2rem;
    position: relative;
    left: 18%;
}
.filelabel img {
    vertical-align: bottom;    /* 画像の垂直方向の配置 */
}
#filesend {
    display: none;  /* 本来のファイル選択フォームは非表示に */
}
